@page
@model RazorPagesBook105.Pages.Borrows.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Borrow</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Borrow.Id" />
            <div class="form-group">
                <label asp-for="Borrow.serialNumber" class="control-label"></label>
                <input asp-for="Borrow.serialNumber" class="form-control" />
                <span asp-validation-for="Borrow.serialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Borrow.ISBN" class="control-label"></label>
                <input asp-for="Borrow.ISBN" class="form-control" />
                <span asp-validation-for="Borrow.ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Borrow.readerNumber" class="control-label"></label>
                <input asp-for="Borrow.readerNumber" class="form-control" />
                <span asp-validation-for="Borrow.readerNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Borrow.loanDate" class="control-label"></label>
                <input asp-for="Borrow.loanDate" class="form-control" />
                <span asp-validation-for="Borrow.loanDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Borrow.returnDate" class="control-label"></label>
                <input asp-for="Borrow.returnDate" class="form-control" />
                <span asp-validation-for="Borrow.returnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
