@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="./Books">管理图书信息</a></p>
    <p><a href="./Borrows">管理借阅信息</a></p>
    <p><a href="./Students">管理学生信息</a></p>
</div>
